<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>One Planet Map</title>
    <link rel="icon" id="favicon" href="{{ url_for('static', filename='favicon_black.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/leaflet.min.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/leaflet.min.js"></script>
    <script src="{{ url_for('static', filename='js/favicon.js') }}"></script>
</head>
<body>
    <div id="notification"></div>
    <div id="map"></div>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
